# Backend (Go & Air Live Reload)
backend/tmp/
backend/*.exe
backend/main
*.exe

# Frontend (React & Node)
frontendReact/node_modules/
frontendReact/dist/
frontendReact/.vite/

# File Rahasia & OS
.env
*.env
.DS_Store
Thumbs.db

# File log & temporary Go / Air
*.log
*.exe~
build-errors.

# Abaikan semua isi folder tmp
tmp/
**/tmp/